  :root {
    --g1: rgb(166, 235, 244);
    /* --g2: rgb(236, 64, 230); */
    --g2: rgb(236, 192, 222);
  }
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
  
    to {
      background-position: -200% center;
    }
  }
  
  body {
    animation: background-pan 7s linear infinite;
    background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 10px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
  }
  
  #button {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 2vw;
    margin: 0px;
    width: 30vw;

    display: inline-block;
    padding: 10px 10px;
    font-weight: bold;
    text-align: center;
    background-color: #f099d5;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  #button:hover {
    background-color: #f583cf;
  }
  
  #button:active {
    background-color: #ee9adc;
  }
  
  
  
  
  
  